.tree-view-container {
  min-height: 100vh;
  width: 350px;
  background: rgb(120,90,210);
}

.menu-item {
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: white;
  list-style-type: none;

}

.menu-list-container {
  /* list-style-type: none; */
  margin-top: 0px;
  margin-bottom: 0px;
}